<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('./partials/header.ejs') %>
    <main>
        <div class="home-container">
            <h1>Welcome to the University Carpool Service</h1>
            <p>Find or offer rides to and from campus. Connect with fellow students for safe and affordable transportation.</p>
        </div>
    </main>
    <%- include('./partials/footer.ejs') %>
</body>
</html>