<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <%- include('../partials/header.ejs') %>
    <main>
        <div class="container">
            <h2>Create Carpool Offer</h2>
            <form action="/carpools" method="POST">
                <input type="text" name="carName" placeholder="Car Name" required>
                <input type="text" name="location" placeholder="Location" required>
                <input type="time" name="time" required>
                <input type="number" name="price" placeholder="Price (one way)" required>
                <select name="gender" required>
                    <option value="">Select your gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                     <input type="number" name="totalSeats" placeholder="Total Seats Available" required>
                </select>
                <label>
                    <input type="checkbox" name="genderPreference" value="true"> Open for Girls only
                </label>
                <button type="submit">Upload Offer</button>
            </form>
        </div>
    </main>
    <%- include('../partials/footer.ejs') %>
</body>
</html>